# Avoid accidental upload of Sketch and Figma design files
#####################################################
## Please do not remove lines 5 and 6 - thanks! 🙂 ##
#####################################################
*.sketch
*.fig

# Avoid accidental XD upload if you convert the design file
###############################################
## Please do not remove line 12 - thanks! 🙂 ##
###############################################
*.xd

# Prevent macOS system files from being committed
.DS_Store
.AppleDouble
.LSOverride

# Prevent Windows system files from being committed
Thumbs.db
ehthumbs.db
Desktop.ini

# Ignore Prettier configuration exceptions
.prettierignore

# Avoid log files and temporary files
*.log
*.tmp
*.lock
*.bak
